---
import CarouselPortfolio from '@/components/CarouselPortfolio.astro';
import type { CardInfo } from '@/env';
import Layout from '@/layouts/Layout.astro';
import { CARD_INFO } from '@/lib/data'

const cardsInfo = await CARD_INFO

const { idPortfolio } = Astro.params
const idPortfolioNum = Number(idPortfolio)
const card = cardsInfo.find(cardItm => cardItm.id === idPortfolioNum ) as CardInfo

export async function getStaticPaths() {
  const cardsInfo = await CARD_INFO
  return cardsInfo.map(cardItm => ({
    params: { idPortfolio: cardItm.id }
  }));
}
const { caption, id, links, longTitle, software, title, type, urls } = card
---
<Layout title={ `${longTitle} - Portfolio` }>
  <section class="flex justify-center items-center fixed inset-0 bg-american-blue-550/50 backdrop-blur-lg">
    <CarouselPortfolio media={urls} slide id={id} />
  </section>
</Layout>