---
interface Props {
  items: { src: string; text: string }[];
}
const { items } = Astro.props;
---

<div class={`flex flex-wrap gap-1`}>
  {
    items.map((item) => {
      return (
        <div class="flex flex-wrap gap-1.5">
            <span class="text-pink-100 text-xs font-medium px-1.5 py-1 rounded border border-blue-400/50 bg-purple-500/20">
              <div class="flex gap-1 items-center justify-center">
                <img
                  src={item.src}
                  width={16}
                  class="object-contain"
                  alt={item.text}
                />
                <span class="capitalize font-normal">{item.text}</span>
              </div>
            </span>
        </div>
      );
    })
  }
</div>
