---
import Icons from "./Icons.astro";
const { items, itemId } = Astro.props;
const seeMore = { text: "seemore", src: `/ivanrice/${itemId}` };
const extraItems = [seeMore, ...items];
const imgSMedia: { [key: string]: string } = {
  github: `Código`,
  artstation: `Artstation`,
  instagram: `Instagram`,
  seemore: "Ver Más",
  demo: "Demo",
};
const isNotSocial = (social: string) =>
  social !== "instagram" && social !== "artstation" && social !== "github";
---

{
  extraItems.map((item: { text: string; src: string }) => {
    const isSeemore = item.text === "seemore";
    return (
      <a
        href={item.src}
        target={`${isSeemore ? "" : "_blank"}`}
        rel="noopener noreferrer"
        class="border-2 border-green-lime-400/45 bg-american-blue-650/70 backdrop-blur-3xl rounded text-ottoman-50 flex items-center text-xs font-bold tracking-wider
      hover:bg-green-lime-500/85 hover:border-green-lime-500/50 hover:scale-105 hover:text-american-blue-900/90 hover:rounded-md transition-all duration-200"
      >
        <span class="uppercase font-devina w-full flex flex-nowrap gap-1 items-center p-1">
          <Icons name={item.text} size="1.3rem" stroke={2} />
          {isNotSocial(item.text) && imgSMedia[item.text]}
        </span>
      </a>
    );
  })
}
