---
interface Experience {
  company: string
  role: string
  time: string
  description: string
  isLatest: boolean
}

const experiences: Experience[] = [
  {
    role: 'Freelance',
    company: '',
    time: 'Agosto 2021 - Presente',
    description:
      'Modelado y texturizado 3D. En Desarrollo Frontend, me enfoco en implementar nuevas funcionalidades, mejorar la optimización y accesibilidad, siguiendo las mejores prácticas. Mantengo un compromiso constante con el aprendizaje en 3D y Frontend.',
    isLatest: true,
  },
  {
    role: 'Ssr. Frontend Developer',
    company: 'SNGULAR',
    time: 'Abril - julio 2021 ',
    description:
      'Adopté herramientas de Frontend, colaboré en equipo para resolver problemas de UI/UX, gestioné y apoyé cambios en el sistema de diseño de componentes. Demostré flexibilidad, compromiso con las mejores prácticas y habilidades organizativas.',
    isLatest: false,
  },
  {
    role: 'Fullstack Developer',
    company: 'Campus Virtuales',
    time: 'Oct. 2013 - Oct. 2019 ',
    description:
      'Lideré el área de desarrollo, realizando proyectos internos y externos, gestioné el mantenimiento de aplicaciones. Implementé nuevas tecnologías para mejorar la eficiencia y adopté tecnologías emergentes, manteniendo mi aprendizaje actualizado en frontend y backend.',
    isLatest: false,
  },
]
---

<section class="font-body relative mx-auto grid sm:grid-cols-[auto_1fr] sm:gap-x-5">
  <div
    class="pointer-events-none absolute top-0 bottom-0 left-0 z-10 block w-7 bg-orange-400/40 blur-3xl sm:hidden"
  >
  </div>
  {
    experiences.map((experience) => {
      const { role, company, time, description, isLatest } = experience
      return (
        <>
          <div class="font-title relative text-right text-sm text-orange-500">
            {time}
            <div class="absolute top-1/2 -right-5 hidden h-px w-4 bg-orange-500 sm:block" />
            <div class="absolute top-1.5 right-0 z-10 hidden h-2.5 w-2.5 translate-x-6.5 bg-orange-500 sm:block" />
            <div class="pointer-events-none absolute inset-0 left-32 z-10 hidden w-full bg-orange-400/10 blur-3xl sm:block" />
          </div>

          <div
            class="font-title relative overflow-hidden border-l border-orange-50/15 pb-10 pl-5
          before:absolute before:inset-0 before:rounded-r-sm before:bg-linear-[160deg]
          before:from-orange-400/5 before:to-transparent before:to-60% before:opacity-0
          before:transition-opacity before:duration-700 before:ease-in-out before:content-['']
          hover:before:opacity-100"
          >
            {role && (
              <h3 class="bg-gradient-to-r from-orange-400 from-25% to-transparent to-95% bg-clip-text text-xl font-bold text-transparent">
                {role}
              </h3>
            )}
            <h4 class="text-orange-50/70">{company}</h4>
            <p class="font-body mt-3 border-l-2 border-orange-50/15 pl-4 text-sm text-orange-50/85">
              {description}
            </p>
          </div>
        </>
      )
    })
  }
</section>
