---
import Menu from '@/components/Menu'
const id = Astro.params
const hasBackBtn = id['id'] ?? false
let currentPath = Astro.request.url;
---
<header>
  <h1
    class="text-xl md:text-7xl font-black leading-none text-slate-600 sm:truncate  tracking-tight "
  >
    IVANRICE
  </h1>
  <p class="text-xs md:text-xl font-bold leading-7 text-red-500/60 sm:truncate">
    Front End Developer | 3D Artist
  </p>

  <Menu hasBackBtn={hasBackBtn} currentPath={currentPath}  client:load/>

</header>