---
import Icons from "./Icons.astro";
import PhotoCard from "./PhotoCard.astro";
const src =
  "https://res.cloudinary.com/ivanrice-c/image/upload/v1605297167/ivanrice/foto_prof_fx0xfd.webp";
---

<section
  class="relative box-border w-full font-biryani font-thin text-american-blue-50/85"
>
  <div
    class="flex flex-col gap-5 justify-center items-center md:flex-row lg:gap-7"
  >
    <div
      class="text-left text-lg md:text-xl text-balance pl-0 w-fit lg:pr-5 font-normal"
    >
      <PhotoCard
        layers={2}
        className="aspect-square w-20 md:w-24 rounded-full"
        src={src}
        alt="Profile"
      />
      <h1 class="font-mauline text-green-lime-400/90 text-4xl md:text-5xl my-5">
        Hey <span class="text-xl sm:text-2xl md:text-3xl">👋</span>, soy Ivan
        Bautista.
      </h1>
      <h2 class="leading-relaxed text-sm md:text-lg font-light">
        +9 años de experiencia. Pasé de ser Full Stack Developer a
        especializarme como
        <span class="font-semibold text-ottoman-100/90 text-sm md:text-lg"
          >Frontend Developer,</span
        >
        con un trasfondo en 3D y un gran interés en UI/UX. Apasionado por aprender,
        experimentar y crear experiencias web y proyectos 3D cautivadores.
      </h2>
    </div>
  </div>
  <div
    class="flex justify-start items-center mt-3 text-ottoman-100/85 gap-3 pt-4 pb-3 ms-0
    [&>a]:border-2 [&>a]:border-green-lime-400/10 [&>a]:bg-green-lime-400/25 [&>a]:rounded-md
    [&>a]:transition-all duration-1000"
  >
    <a
      href="https://drive.google.com/file/d/1e-iCE6vOeKAyIIZ2RzSjQIrxq4yXzoVF/view?usp=drive_link"
      target="_blank"
      rel="noopener"
      class="hover:bg-green-lime-600/35 hover:border-green-lime-500/50 hover:scale-105 hover:text-ottoman-50/90 hover:rounded-3xl"
      aria-label="ver cv"
    >
      <Icons name="cv" stroke={1.5} size="2.2rem" />
    </a>
    <a
      href="https://github.com/Ivanricee"
      class="duration-1000 hover:bg-green-lime-600/35 hover:border-green-lime-500/50 hover:scale-105 hover:text-ottoman-50/90 hover:rounded-3xl"
      aria-label="GitHub Profile"
      target="_blank"
      rel="noopener"
    >
      <Icons name="github" stroke={1.5} size="2.2rem" />
    </a>
    <a
      href="https://www.linkedin.com/in/ivanrice/"
      target="_blank"
      class="hover:bg-green-lime-600/35 hover:border-green-lime-500/50 hover:scale-105 hover:text-ottoman-50/90 hover:rounded-3xl"
      aria-label="LinkedIn Profile"
      rel="noopener"
    >
      <Icons name="linkedin" stroke={1.5} size="2.2rem" />
    </a>
    <a
      href="https://www.instagram.com/ivanrice_/"
      target="_blank"
      class="hover:bg-green-lime-600/35 hover:border-green-lime-500/50 hover:scale-105 hover:text-ottoman-50/90 hover:rounded-3xl"
      aria-label="Instagram Profile"
      rel="noopener"
    >
      <Icons name="instagram" stroke={1.5} size="2.2rem" />
    </a>
    <a
      href="https://www.artstation.com/ivanrice"
      target="_blank"
      class="hover:bg-green-lime-600/35 hover:border-green-lime-500/50 hover:scale-105 hover:text-ottoman-50/90 hover:rounded-3xl"
      aria-label="Artstation Profile"
      rel="noopener"
    >
      <Icons name="artstation" stroke={40} size="2.2rem" />
    </a>
    <a
      href="mailto:ivanbautistag@gmail.com"
      class="hover:bg-green-lime-600/35 hover:border-green-lime-500/50 hover:scale-105 hover:text-ottoman-50/90 hover:rounded-3xl"
      target="_blank"
      aria-label="Mail"
      rel="noopener"
    >
      <Icons name="gmail" stroke={1.5} size="2.2rem" />
    </a>
  </div>
</section>