---
import Title from '@/components/Title.astro'
import Experience from '@/components/Experience.astro'
import Projects from '@/components/Projects'
---

<main class="w-full mx-6 md:mx-auto ">
  <section id="experience" class="">
    <Title caption="Recent Adventures" />
    <Experience />
  </section>
  <section id="projects" class="">
    <Title caption="Proyectos" />
    <div
      id="spotlight4"
      aria-hidden
      class="absolute -z-10 h-60 w-2/3 -translate-x-1/2 translate-y-96 -rotate-[36deg] rounded-full bg-pink-400/5 blur-3xl"
    >
    </div>
    <div
      id="spotlight3"
      aria-hidden
      class="bg-american-blue-550/30 absolute -z-10 h-[35rem] w-[120%] -translate-x-1/2 translate-y-80 -rotate-[36deg] rounded-e-full blur-2xl"
    >
    </div>

    <Projects client:visible />
  </section>

  <slot />
</main>
