---
import { FRONTEND, TRESD } from "@/lib/constants";
import ProjectItem from "./ProjectItem.astro";
---

    <section class="font-devina w-full h-full box-content overflow-auto scrollbar-hide ">
      <div class="mb-4">
        <ul
          class="flex text-lg font-medium text-center rounded-lg justify-center"
          id="default-tab"
          data-tabs-toggle="#default-tab-content"
          role="tablist"
        >

          <li class="focus-within:z-10" role="presentation">
            <button
              class="inline-block w-full p-4
                text-ottoman-50/85  bg-green-lime-400/10 border-s-0 rounded-s-lg
                aria-selected:text-american-blue-900 aria-selected:border-0 aria-selected:bg-green-lime-500/60
                hover:text-green-lime-400/70 hover:bg-green-lime-400/20 focus:ring-1 focus:outline-none focus:ring-green-lime-500/40"
              id="frontend-tab"
              data-tabs-target="#frontend"
              type="button" role="tab"
              aria-controls="frontend"
              aria-selected="false"
              role="tab"
            >
              FRONTEND
          </button>
          </li>
          <li class="focus-within:z-10" role="presentation">
            <button
              class="inline-block w-full p-4
              text-ottoman-50/85  bg-green-lime-400/10 border-s-0 rounded-e-lg
              aria-selected:text-american-blue-800 aria-selected:border-0 aria-selected:bg-green-lime-500/60
              hover:text-green-lime-400/70 hover:bg-green-lime-400/20 focus:ring-1 focus:outline-none focus:ring-green-lime-500/40"
              id="tresd-tab"
              data-tabs-target="#tresd"
              type="button"
              role="tab"
              aria-controls="tresd"
              aria-selected="false"
              role="tab"
            >
              3D
            </button>
          </li>
        </ul>
      </div>
      <div id="default-tab-content">
        <div class="hidden pt-4 rounded-lg border-0" id="frontend" role="tabpanel" aria-labelledby="frontend-tab">
          <ProjectItem type={FRONTEND} />
        </div>
        <div class="hidden pt-4 rounded-lg border-0" id="tresd" role="tabpanel" aria-labelledby="tresd-tab">
          <ProjectItem type={TRESD} />
        </div>
      </div>
    </section>