---
import { FRONTEND, TRESD } from '@/lib/constants'
import ProjectItem from './ProjectItem.astro'
---

<section
  class="font-biryani box-content md:h-[66rem] lg:h-[39rem]"
  transition:name="project-container"
>
  <div class="mb-4 flex w-full justify-center sm:w-1/2 lg:w-full">
    <ul
      class="relative z-10 flex h-[5.5rem] w-60 justify-center rounded-lg text-center text-lg font-semibold"
      id="default-tab"
      data-tabs-toggle="#default-tab-content"
      role="tablist"
    >
      <li class="h-full w-7/12 focus-within:z-10" role="presentation">
        <button
          class="text-ottoman-100/70 from-american-blue-950/50 via-american-blue-800/65 aria-selected:from-green-lime-500 aria-selected:to-green-lime-400/70 aria-selected:text-american-blue-900 hover:text-ottoman-50/85 focus:ring-green-lime-500/40 hover:from-american-blue-800/70 inline-block h-full w-full rounded-s-lg border-s-0 bg-gradient-to-bl from-10% via-30% to-indigo-800/30 to-82% p-4 hover:bg-gradient-to-br hover:from-40% focus:ring-1 focus:outline-none aria-selected:border-0 aria-selected:bg-gradient-to-bl aria-selected:from-10% aria-selected:to-82% aria-selected:font-bold"
          id="frontend-tab"
          data-tabs-target="#frontend"
          type="button"
          role="tab"
          aria-controls="frontend"
          aria-selected="false"
          role="tab"
        >
          FRONTEND
        </button>
      </li>
      <li class="h-full w-5/12 focus-within:z-10" role="presentation">
        <button
          class="text-ottoman-100/70 from-american-blue-950/50 via-american-blue-800/65 aria-selected:from-green-lime-500 aria-selected:to-green-lime-400/70 aria-selected:text-american-blue-900 hover:text-ottoman-50/85 focus:ring-green-lime-500/40 hover:bg-gradient-from-br hover:from-american-blue-800/70 inline-block h-full w-full rounded-e-lg border-s-0 bg-gradient-to-bl from-10% via-30% to-indigo-800/30 to-82% p-4 hover:from-40% focus:ring-1 focus:outline-none aria-selected:border-0 aria-selected:bg-gradient-to-br aria-selected:from-10% aria-selected:to-82% aria-selected:font-bold"
          id="tresd-tab"
          data-tabs-target="#tresd"
          type="button"
          role="tab"
          aria-controls="tresd"
          aria-selected="false"
          role="tab"
        >
          3D
        </button>
      </li>
    </ul>
  </div>
  <div id="default-tab-content" class="sm:-translate-y-[7.7rem]">
    <div
      class="hidden rounded-lg border-0 pt-4"
      id="frontend"
      role="tabpanel"
      aria-labelledby="frontend-tab"
    >
      <ProjectItem type={FRONTEND} />
    </div>
    <div
      class="hidden rounded-lg border-0 pt-4"
      id="tresd"
      role="tabpanel"
      aria-labelledby="tresd-tab"
    >
      <ProjectItem type={TRESD} />
    </div>
  </div>
</section>
<script>
  document.addEventListener('astro:page-load', () => {
    const frontendTabButton = document.getElementById('frontend-tab')
    const tresdTabButton = document.getElementById('tresd-tab')
    if (!frontendTabButton || !tresdTabButton) throw new Error('menu items not found')
    frontendTabButton.addEventListener('click', (e) => {
      const target = e.target as HTMLElement
      const name = target.getAttribute('aria-controls')
      history.replaceState({}, '', `/ivanrice/#projects/?type=${name}`)
    })

    tresdTabButton.addEventListener('click', (e) => {
      const target = e.target as HTMLElement
      const name = target.getAttribute('aria-controls')
      history.replaceState({}, '', `/ivanrice/#projects/?type=${name}`)
    })
  })
</script>
<script>
  document.addEventListener('astro:page-load', () => {
    function initializeFlowbiteTabs() {
      const getQueryParam = () => {
        // Get type
        const queryString = window.location.hash.split('?')[1]
        if (!queryString) return
        // Create a URLSearchParams object with the query string
        const searchParams = new URLSearchParams(queryString)
        return searchParams.get('type')
      }

      const type = getQueryParam()
    }
    initializeFlowbiteTabs()
  })
</script>
