---
import { Image } from 'astro:assets'
import { CLOUDINARY_LOW, CLOUDINARY_URL, FRONTEND, TRESD } from '@/lib/constants'
import { CARD_INFO, SOFTWARE } from '../lib/data'
import type { CardInfo } from '@/env'
import BadgeItems from './BadgeItems.astro'
import BadgeLink from './BadgeLink.astro'
import { getTemplateArea } from '@/utils'
import Icons from './Icons.astro'
interface Props {
  type: 'frontend' | '3D'
}
const { type } = Astro.props

const cloudBase = `${CLOUDINARY_URL}${CLOUDINARY_LOW}`

//----- area template
/*const countCards = cardInfo.length;
const [rows3, TGridArea3] = getTemplateArea({ columns: 3, countCards });
const [rows2, TGridArea2] = getTemplateArea({ columns: 2, countCards });*/
//default 5 iitems
const [rows3, TGridArea3] = getTemplateArea({
  columns: 3,
  countCards: 5,
})
const [rows2, TGridArea2] = getTemplateArea({
  columns: 2,
  countCards: 5,
})
//----- area template
const isFront = type === FRONTEND
---

<article class="font-biryani w-full">
  <ul id="gridTemplateAreas" class="h-full w-full">
    <li style={`grid-area: menu;`} class="relative h-full w-full"></li>

    <li
      style={`grid-area: footer;`}
      class="border-american-blue-500/50 text-green-lime-300 from-american-blue-950/50 via-american-blue-800/65 relative z-20 flex h-64 w-full items-center justify-center overflow-hidden rounded-xl border-2 bg-gradient-to-bl from-10% via-30% to-indigo-800/30 to-82% text-xl sm:h-full"
    >
      {
        isFront ? (
          <div class="flex flex-nowrap items-center gap-2">
            <a
              href="https://github.com/Ivanricee"
              target="_blank"
              rel="noopener"
              class="translate-y-0.5 text-sm font-bold uppercase transition-all duration-700 hover:underline"
            >
              VER MÁS
            </a>
            <Icons name="seemore" size="1.3rem" stroke={2} />
          </div>
        ) : (
          <div class="flex flex-nowrap items-center gap-2">
            <a
              href="https://www.instagram.com/ivanrice_/"
              target="_blank"
              rel="noopener"
              class="translate-y-0.5 text-sm font-bold uppercase transition-all duration-700 hover:underline"
            >
              VER MÁS
            </a>
            <Icons name="seemore" size="1.3rem" stroke={2} />
          </div>
        )
      }
    </li>
  </ul>
</article>
<style define:vars={{ TGridArea2, rows2, TGridArea3, rows3 }}>
  li {
    --rotate: 0;
    transform: rotate(var(--rotate));
  }
  .frontImg {
    mask-image: linear-gradient(180deg, black 35%, transparent 97%);
  }
  .frontImgNoise {
    mask-image: linear-gradient(180deg, black 80%, transparent 100%);
  }
  #gridTemplateAreas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(var(--rows3), 6rem);
    gap: 10px;
    grid-template-areas: var(--TGridArea3);
  }
  @media (max-width: 1024px) {
    #gridTemplateAreas {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(var(--rows2), 6rem);
      gap: 10px;
      grid-template-areas: var(--TGridArea2);
    }
  }
  @media (max-width: 640px) {
    #gridTemplateAreas {
      display: flex;
      flex-direction: column;
      gap: 10px;
      grid-template-areas: var(--TGridArea2);
    }
  }
</style>
