---
interface Props {
  caption: string;
}
const { caption } = Astro.props
//sm:bg-yellow-400 md:bg-yellow-700 lg:bg-purple-500
---

<h2 class="
  font-thin text-5xl mt-12 mb-14 font-mauline text-american-blue-100/90 uppercase w-full
  sm:text-6xl md:mt-20">
  {caption}
</h2>
