---
interface Props {
  caption: string
}
const { caption } = Astro.props
//sm:bg-yellow-400 md:bg-yellow-700 lg:bg-purple-500
---

<h2 class="font-title my-6 mt-12 w-full text-lg uppercase">
  <span>{` `}</span>
  <span class="text-orange-200/60">{caption}</span>
  <span>{` `}</span>
</h2>
