---
import '@fontsource/space-grotesk/300.css'
import '@fontsource/space-grotesk/400.css'
import '@fontsource/space-grotesk/500.css'
import '@fontsource/space-grotesk/600.css'
import '@fontsource/inconsolata'
import '@fontsource/syne'
import '@fontsource/inter'
import '../styles/main.css'
import { IconSymbols } from '@/components/ui/Icon'
interface Props {
  title: string
  position?: string
}

const { title = 'Portafolio de ivanrice', position = 'relative' } = Astro.props
---

<!doctype html>
<html lang="es" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="ivanrice/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/cloudinary-video-player@2.3.3/dist/cld-video-player.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- HTML Meta Tags -->
    <title>IvanRice | Portfolio</title>
    <meta
      name="description"
      content="Ivan Bautista - Frontend Developer. Dive into my portfolio to see a variety of projects and learn about my professional journey."
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://ivanricee.github.io/ivanrice" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="IvanRice | Portfolio" />
    <meta
      property="og:description"
      content="Ivan Bautista - Frontend Developer. Dive into my portfolio to see a variety of projects and learn about my professional journey."
    />
    <meta property="og:image" content="/ivanrice/images/porfolio.jpg" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="ivanricee.github.io" />
    <meta property="twitter:url" content="https://ivanricee.github.io/ivanrice" />
    <meta name="twitter:title" content="IvanRice | Portfolio" />
    <meta
      name="twitter:description"
      content="Ivan Bautista - Frontend Developer. Dive into my portfolio to see a variety of projects and learn about my professional journey."
    />
    <meta name="twitter:image" content="/ivanrice/images/porfolio.jpg" />
  </head>
  <!--dark/light -->
  <body class="noise-container block h-full min-h-dvh w-full">
    <IconSymbols client:visible />
    <div class="w-full sm:max-w-2xl min-w-[200px]  sm:px-8 mx-auto md:px-0 px-4 ">
      <slot />
    </div>
    <style is:global>
      .scrollbar-hide::-webkit-scrollbar {
        display: none;
      }
      /* For IE, Edge and Firefox */
      .scrollbar-hide {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
      html {
        font-family: 'Neucha', cursive;
        background: #13151a;
        background-size: 224px;
        /*scroll-behavior: smooth;*/
      }
      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }
    </style>
    <script
      src="https://cdn.jsdelivr.net/npm/cloudinary-video-player@2.3.3/dist/cld-video-player.min.js"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
  </body>
</html>
