---
import { ViewTransitions } from "astro:transitions";

import "../styles/main.css";

interface Props {
  title: string;
}

const { title = "Portafolio de ivanrice" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="ivanrice/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <!--dark/light -->
  <body>
    <div
      class="bg-backImg w-full flex justify-center items-center 2xl:p-8 h-full overflow-auto"
    >
      <div
        id="introduce"
        class="bg-american-blue-600 border-0 sm:border-[1.5rem] border-ottoman-50 relative flex flex-col w-full h-full min-h-dvh items-center
         rounded-none sm:rounded-[4rem] lg:shadow-container px-8 md:px-16 pt-52 md:pt-56 max-w-screen-2xl overflow-hidden z-0"
      >
        <slot />
      </div>
    </div>
    <style is:global>
      :root {
      }
      .scrollbar-hide::-webkit-scrollbar {
        display: none;
      }
      /* For IE, Edge and Firefox */
      .scrollbar-hide {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
      html {
        font-family: "Neucha", cursive;
        background: #13151a;
        background-size: 224px;
        /*scroll-behavior: smooth;*/
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }
    </style>
  </body>
</html>
