---
import { ViewTransitions } from "astro:transitions";

import "../styles/main.css";
import { AstroFont } from "astro-font";

interface Props {
  title: string;
  position?: string;
}

const { title = "Portafolio de ivanrice", position = "relative" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="ivanrice/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <AstroFont
      config={[
        {
          name: "Mauline",
          src: [
            {
              weight: "400",
              style: "normal",
              path: "./ivanrice/fonts/Mauline.otf",
            },
          ],
          preload: true,
          display: "swap",
          selector: ".font-mauline",
          fallback: "sans-serif",
        },
        {
          name: "Biryani",
          src: [
            {
              weight: "200",
              style: "normal",
              path: "./ivanrice/fonts/Biryani-ExtraLight.woff",
            },
            {
              weight: "300",
              style: "normal",
              path: "./ivanrice/fonts/Biryani-Light.woff",
            },
            {
              weight: "normal",
              style: "normal",
              path: "./ivanrice/fonts/Biryani-Regular.woff",
            },
            {
              weight: "bold",
              style: "normal",
              path: "./ivanrice/fonts/Biryani-Bold.woff",
            },
            {
              weight: "600",
              style: "normal",
              path: "./ivanrice/fonts/Biryani-SemiBold.woff",
            },
          ],
          preload: true,
          display: "swap",
          selector: ".font-biryani",
          fallback: "sans-serif",
        },
      ]}
    />
  </head>
  <!--dark/light -->
  <body>
    <div
      class="bg-backImg w-full min-h-dvh flex justify-center items-center 2xl:p-8 h-full overflow-clip"
    >
      <div
        id="introduce"
        class={`bg-american-blue-600 border-0 sm:border-[1.5rem] border-ottoman-50 ${position} flex flex-col w-full h-full items-center
         rounded-none sm:rounded-[4rem] lg:shadow-container px-8 md:px-16 pt-28 sm:pt-44 md:pt-56 max-w-screen-2xl overflow-clip z-0 `}
      >
        <slot />
      </div>
    </div>
    <style is:global>
      :root {
      }
      .scrollbar-hide::-webkit-scrollbar {
        display: none;
      }
      /* For IE, Edge and Firefox */
      .scrollbar-hide {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
      html {
        font-family: "Neucha", cursive;
        background: #13151a;
        background-size: 224px;
        /*scroll-behavior: smooth;*/
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }
    </style>
  </body>
</html>
